[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/dead-simple"]
	path = themes/dead-simple
	url = https://github.com/barklan/hugo-dead-simple
